In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_stata('2005_ML/DS0002/23441-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])

In [13]:
#dropping columns with NaN's 
df = df.dropna(axis = 1)

In [14]:
list_comp = df['BIASMO1'].unique().tolist()

In [15]:
anti_race = ['Anti-Black',
            'Anti-Am Indian',
            'Anti-Asian',
            'Anti-White',
            'Anti-Other ethnicity',
            'Anti-Multi-Racial',
            'Anti-Hispanic']

anti_sexual = ['Anti-Male Homosexual',
                'Anti-Bisexual',
                'Anti-Homosexual (both)',
                'Anti-Heterosexual',
                'Anti-Female Homosexual']

anti_religion = ['Anti-Catholic',
                'Anti-Islamic',
                'Anti-Protestant',
                'Anti-Jewish',
                'Anti-Atheism/Agnosticism',
                'Anti-Multi-Religious',
                'Anti-Other Religion']

anti_handicap = ['Anti-Physical Disability', 'Anti-Mental Disability']

df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_race,'Anti-Race'))
df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_sexual,'Anti-Sexual Orientation'))
df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_religion,'Anti-Religion'))
df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_handicap,'Anti-Disability'))
df

,ORI,CITY,STATECOD,REGION,JUDDIST,POP1,MASTERYR,BIASMO1,LOCCOD1,QUARTER
0,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Highway/road/alley,Apr to Jun
1,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Other/unknown,Jul to Sep
2,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Highway/road/alley,Jul to Sep
3,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Parking lot/garage,Jul to Sep
4,AR0010200,STUTTGART,AR,South,030E,9467,2005,Anti-Race,Grocery/supermarket,Jul to Sep
...,...,...,...,...,...,...,...,...,...,...
7158,WV0410100,BECKLEY,WV,South,435S,17008,2005,Anti-Race,Parking lot/garage,Oct to Dec
7159,WV0540000,PARKERSBURG,WV,South,435S,41261,2005,Anti-Race,Highway/road/alley,Apr to Jun
7160,WY0090100,THERMOPOLIS,WY,West,450A,2969,2005,Anti-Race,Drug store/dr office/hosp,Jan to Mar
7161,WY0150000,CODY,WY,West,450A,12283,2005,Anti-Religion,Residence/home,Jan to Mar
7162,WY0180000,PINEDALE,WY,West,450A,6690,2005,Anti-Sexual Orientation,Residence/home,Apr to Jun

In [17]:
df2 = pd.read_stata('2006_ML/DS0002/22406-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df2 = df2.dropna(axis = 1)
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_race,'Anti-Race'))
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_sexual,'Anti-Sexual Orientation'))
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_religion,'Anti-Religion'))
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_handicap,'Anti-Disability'))
df2['BIASMO1'].

,ORI,CITY,STATECOD,REGION,JUDDIST,POP1,MASTERYR,BIASMO1,LOCCOD1,QUARTER
0,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Sexual Orientation,Highway/road/alley,Apr to Jun
1,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Race,Highway/road/alley,Apr to Jun
2,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Race,School/college,Apr to Jun
3,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Race,Bar,Jul to Sep
4,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Sexual Orientation,Parking lot/garage,Jul to Sep
...,...,...,...,...,...,...,...,...,...,...
7721,WY0010100,LARAMIE,WY,West,450A,26342,2006,Anti-Race,School/college,Jul to Sep
7722,WY0010100,LARAMIE,WY,West,450A,26342,2006,Anti-Sexual Orientation,Bar,Oct to Dec
7723,WY0030000,GILLETTE,WY,West,450A,14885,2006,Anti-Race,Bar,Oct to Dec
7724,WY0040200,SARATOGA,WY,West,450A,1733,2006,Anti-Race,School/college,Apr to Jun
7725,WY0130100,CASPER,WY,West,450A,52318,2006,Anti-Sexual Orientation,Residence/home,Jan to Mar

In [18]:
df3 = pd.read_stata('2007_ML/DS0002/25107-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df3 = df3.dropna(axis = 1)
df3['BIASMO1'].unique().tolist()

['Anti-Mental Disability',
 'Anti-Black',
 'Anti-Male Homosexual',
 'Anti-Multi-Racial',
 'Anti-Asian',
 'Anti-Hispanic',
 'Anti-White',
 'Anti-Am Indian',
 'Anti-Homosexual (both)',
 'Anti-Jewish',
 'Anti-Female Homosexual',
 'Anti-Other Religion',
 'Anti-Islamic',
 'Anti-Other ethnicity',
 'Anti-Physical Disability',
 'Anti-Multi-Religious',
 'Anti-Protestant',
 'Anti-Atheism/Agnosticism',
 'Anti-Catholic',
 'Anti-Bisexual',
 'Anti-Heterosexual']

In [8]:
df4 = pd.read_stata('2008_ML/DS0002/27645-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df4 = df4.dropna(axis = 1)
df4

,ORI,CITY,STATECOD,REGION,JUDDIST,POP1,MASTERYR,BIASMO1,LOCCOD1,QUARTER
0,AK0010100,ANCHORAGE,AK,West,020A,280068,2008,Anti-Male Homosexual,Residence/home,Apr to Jun
1,AK0010100,ANCHORAGE,AK,West,020A,280068,2008,Anti-Black,Residence/home,Apr to Jun
2,AK0010100,ANCHORAGE,AK,West,020A,280068,2008,Anti-Multi-Racial,Service/gas station,Jul to Sep
3,AK0010100,ANCHORAGE,AK,West,020A,280068,2008,Anti-Black,Highway/road/alley,Oct to Dec
4,AK0010100,ANCHORAGE,AK,West,020A,280068,2008,Anti-White,Highway/road/alley,Oct to Dec
...,...,...,...,...,...,...,...,...,...,...
7778,WY0110000,CHEYENNE,WY,West,450A,30860,2008,Anti-Black,Highway/road/alley,Jan to Mar
7779,WY0110100,CHEYENNE,WY,West,450A,55931,2008,Anti-Black,Highway/road/alley,Apr to Jun
7780,WY0130100,CASPER,WY,West,450A,53430,2008,Anti-Protestant,Church/Synagogue/Temple,Apr to Jun
7781,WY0180000,PINEDALE,WY,West,450A,8311,2008,Anti-Black,Hotel/motel,Jul to Sep
7782,WY0190200,ROCK SPRINGS,WY,West,450A,19800,2008,Anti-Protestant,Church/Synagogue/Temple,Jul to Sep

In [9]:
df5 = pd.read_stata('2009_ML/DS0002/30764-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df5 = df5.dropna(axis = 1)
df5

,ORI,CITY,STATECOD,REGION,JUDDIST,POP1,MASTERYR,BIASMO1,LOCCOD1,QUARTER
0,AK0010100,ANCHORAGE,AK,West,020A,290334,2009,Anti-Am Indian,Highway/road/alley,Jan to Mar
1,AK0010100,ANCHORAGE,AK,West,020A,290334,2009,Anti-Homosexual (both),Residence/home,Apr to Jun
2,AK0010100,ANCHORAGE,AK,West,020A,290334,2009,Anti-Am Indian,Highway/road/alley,Jul to Sep
3,AK0010100,ANCHORAGE,AK,West,020A,290334,2009,Anti-Am Indian,Highway/road/alley,Jul to Sep
4,AK0010100,ANCHORAGE,AK,West,020A,290334,2009,Anti-Am Indian,Highway/road/alley,Jul to Sep
...,...,...,...,...,...,...,...,...,...,...
6607,WY0030100,GILLETTE,WY,West,450A,30473,2009,Anti-Black,Residence/home,Jul to Sep
6608,WY0030100,GILLETTE,WY,West,450A,30473,2009,Anti-Hispanic,Residence/home,Jul to Sep
6609,WY0070200,RIVERTON,WY,West,450A,10613,2009,Anti-White,Residence/home,Jul to Sep
6610,WY0190100,GREEN RIVER,WY,West,450A,12793,2009,Anti-Hispanic,School/college,Jan to Mar
6611,WY0200100,JACKSON,WY,West,450A,10301,2009,Anti-Hispanic,Residence/home,Oct to Dec